.App {
  text-align: center;
  background-color: #283840;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: white;
}

.App-button {
  height: 35vmin;
  touch-action: manipulation;
}

.App-header {
  text-align: center;
}
